{% extends "::base.html.twig" %}

{% block title %}Two-Factor{% endblock %}

{% block content %}
    <div class="row padding-bottom">
        <div class="col-md-4 col-md-offset-4">
            {% include "::sessionFlash.html.twig" %}

            <h1>Two-Factor</h1>

            <form action="{{ path('account_two_factor') }}" method="post">

                {{ form_row(form.name) }}

                <button type="submit" class="btn btn-primary">Add</button>
            </form>


            <table>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Last Used</th>
                </tr>
                {% for item in tokens %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.active ? 'Yes' : 'No' }}</td>
                        <td>{{ item.lastUsed|date('m/d/Y') }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}